<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
  span {
    color: red;
  }
  </style>
  <meta charset="UTF-8">
  <title>THIS THING</title>
</head>
<body data-ng-app="postApp">
  <main data-ng-controller="postController" data-ng-init="getAllPosts()">
    <!--user form-->
    <div data-create-user-directive></div>

    <!--post form-->
    <div data-create-post-directive></div>

    <ul data-ng-cloak>
      <li data-ng-repeat="post in posts">
        <p>{{post.body}}</p>
        <p>posted by: {{post.author}}</p>
        <button data-ng-click="editToggle(post)">Edit</button>
        <!-- edit form -->
        <form name="editpost" data-ng-submit="editPost(post)" data-ng-if="post.edit">
          <input type="text" name="editpost" data-ng-model="post.body">
          <button data-ng-click="deletePost(post)" name="editpost">delete post</button>
          <input type="submit" name="editpost">
        </form>

      </li>
    </ul>
  </main>
  <script src="bundle.js"></script>
</body>
</html>